extends templates/template
block content
    section.banner
        .banner-text
            h1="Aprende a manejar con nosotros"
            p="lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem."
    .section-description.container
        .description-service
            h2="Brevetes Perú"
            hr
            p="Escuela de Conductores Integral autorizada por el Ministerio de Transporte y Comunicaciones(MTC) y por la Gerencia de Transporte Urbano(GTU) para capacitar a los conductores a nivel nacional."
        .description-features
            .feature-card
                .img-card
                    figure
                        img(src="/img/home/intructor.svg" alt="Intructores calificados")
                .text-card
                    h3 Intructores calificados
                    p Nuestros instructores cuentan con amplia experiencia teorica y práctica en los diversos niveles que el alumno necesite.
            .feature-card
                .img-card
                    figure
                        img(src="/img/home/personalizado.svg" alt="Intructores calificados")
                .text-card
                    h3 Clases personalizadas.
                    p Cada alumno es evaluado y tiene un programa espcializado de entrenamiento teórico y práctico.
            .feature-card
                .img-card
                    figure
                        img(src="/img/home/simulador.svg" alt="Intructores calificados")
                .text-card
                    h3 Simuladores de manejo
                    p Antes de conducir por las calles, nuestros alumnos practican en nuestro moderno simulador de manejo.

    .section-testimony
        .background-red <!--1.1.5-->
            .container
                span(class="fa fa-quote-left")
                p="Es una excelente escuela con buenos profesores, muy profesionales. Con su orientación académica logré obtener mi brevete"
                figure
                    img(src="/img/testimony/1.jpg" alt="Jessica Alba")
                p
                    span Jessica Alba
                    | Estudiante
                .carousel-controls
    .section-business
        //TODO: Slider

